.configMainDiv{
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}



.configTitle {
    font-size: 20px;
    margin: 10px;
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: .1rem;
    border-bottom: 1px var(--card-border) solid;
}

.subconfig {
    background-color: var(--main-color);
    max-height: 50%;
    min-height: 5%;
    width: 70%;
    margin: 10px;
    border-radius: 10px;
    padding: .4rem;
}

.configSubTitle {
    color: var(--font-color);
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

.subdivisionTitle {
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    font-weight: 300;
    margin: 10px;
}

.rangeInput {
    width: 80%;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 25rem;
}

.rangeInput::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--background); /* Color del pulgar */
    border-radius: 10px;
    cursor: pointer;
  }



  .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--accentuation-color); /* Cambia este color */
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px; /* Alinea el pulgar con la barra */
  }

.sounds{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.groupbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: 10px;
    background-color: var(--main-color);
    padding: .4rem;
    border-radius: 10px;
}

.boxtitle{
    justify-content: left;
    align-items: center;
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
}

.descriptions{
    color: var(--font-color);
    display: inline-block;
    height: max-content;
    width: max-content;
    transition: transform .1s;
}

.descriptions:hover{
    transform: scale(1.2);
}