<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a79f7121ff.js" crossorigin="anonymous"></script>
  <title>KAT Terminal</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/terminal.css">
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/contextMenu.css">
  <link rel="stylesheet" href="css/filemanager.css">
  <link rel="stylesheet" href="css/modals.css">
  <link id="theme" rel="stylesheet" href="">
</head>

<body oncontextmenu="bodyContext(event)">

  

  <div class="loadingPage" id="loadingPage">
    <p> KAT </p>
    <p style="font-size: 3vh; font-weight: 200;">Loading </p>>
  </div>

  <div class="contextMenu" id="contextMenu">

  </div>

  <div class="tooltip" id="tooltipDiv">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, enim voluptas? Voluptatum dolores perspiciatis,
    tempora quasi delectus incidunt voluptatem blanditiis fugiat molestiae ducimus adipisci saepe quia ut quos sit
    harum.
  </div>


  <div class="filemanager" id="filemanager">
    <p class="filemgrTitle" id="mngrTitle">Select a file</p>
    <div class="filemanagerMainDiv">
      <div class="files" id="mngrFiles">
        
      </div>
    </div>
  </div>

  <div class="modal" id="modalview">
    <div class="modalcontent" id="modalcontent">

   </div>
 </div>

  <div class="terminalSplitPreview" id="splitPreview">
    <div class="split" id="right">
      <i class="fa-solid fa-square-plus"></i>
    </div>
    <div class="split" id="left">
      <i class="fa-solid fa-square-plus"></i>
    </div>
  </div>

  <div class="frame">
    <div id="draggable-area">
      <p class="windowTitle">KAT</p>
      <p class="version" id="version"> </p>
    </div>
    <div class="control_buttons">
      <div class="control-button devtools-button" id="configButton"><i class="fa-solid fa-gear"></i></div>
      <div class="control-button minimize-button" id="minimizeButton">
        <i class="fa-solid fa-minus"></i>
      </div>
      <div class="control-button resize-button" id="resizeButton"><i class="fa-regular fa-window-restore"></i></div>
      <div class="control-button close-button" id="closeButton">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
  </div>

  <div class="container" id="mainContainer">
    <div class="chatContainer">
      <div class="tab_nav">
        <img id="transparentCursor"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/w8AAwAB/EX+uOIAAAAASUVORK5CYII="
          style="display: none;">
        <div class="tabs" oncontextmenu="tabsContextMenu(1,event)" id="tabs-terminal-1">
          <div class="tab actived" style="opacity: 1;" onclick="changeCurrentTabTo(1,1)" id="tab1">
            <p>Main</p>
          </div>
        </div>
        <button class="createtab" id="createtab" onclick="createTab(1, 'Tab')">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class="chat activedterminal" id="terminal-1">

      </div>

      <div class="chatControls" onclick="changeCurrentTabTo(1, terminalsdict[1].currentTabInTerminal)">
        <div class="inputContainer">
          <input class="chatInput" id="chatInput-terminal-1" type="text" placeholder=">_">
        </div>
        <button class="sendButton" onclick="sendMessageFromChatField(1)" id="sendButton"><i
            class="fa-solid fa-chevron-right"></i></button>
            <button class="sendButton" id="modulesButton"><i class="fa-solid fa-rocket"></i></button>
      </div>
    </div>
</body>
<script type="module" src="js/commands.js"></script>
<script src="js/global.js"></script>
<script src="js/modals.js"></script>
<script src="js/filemanager.js"></script>
<script src="js/controls.js"></script>
<script src="js/split.js"></script>
<script src="js/tabs.js"></script>
<script src="js/terminal.js"></script>
<script src="js/contextmenu.js"></script>
<script src="js/shorcuts.js"></script>

</html>