<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a79f7121ff.js" crossorigin="anonymous"></script>
  <title>KAT Terminal</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/terminal.css">
  <link rel="stylesheet" href="css/contextMenu.css">
  <link rel="stylesheet" href="css/config.css">
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/filemanager.css">
</head>

<body oncontextmenu="bodyContext(event)">

  <div class="contextMenu" id="contextMenu">

  </div>

  <div class="tooltip" id="tooltipDiv">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, enim voluptas? Voluptatum dolores perspiciatis,
    tempora quasi delectus incidunt voluptatem blanditiis fugiat molestiae ducimus adipisci saepe quia ut quos sit
    harum.
  </div>


  <div class="filemanager" id="filemanager">
    <p class="filemgrTitle" id="mngrTitle">Select a sound</p>
    <div class="filemanagerMainDiv">
      <div class="filemngrGroups" id="mngrGroups">
        <div class="file">
          <div class="filebox blue selectedfile">
              <i class="fa-solid fa-music"></i>
          </div>
          <p>test</p>
      </div>
      </div>
      <div class="files" id="mngrFiles">
        
      </div>
    </div>
  </div>

  <div class="config" id="katview">
    <div class="configModal" id="configModal">
      <div class="configControls">
        <button class="control-button close-button configclse" id="configCloseBtn"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <p class="configTitle">Global Configurations</p>
      <p class="subdivisionTitle">Terminal Chat</p>
      <div class="subconfig">
        <div class="configSubTitle">
          Auto-Scroll Zone Size
          <div class="descriptions" data-key="autoscrollzone" onmousemove="showTooltip(this)" onmouseleave="hideTooltip(event)"> 
            <i class="fa-solid fa-circle-info"></i>
          </div>
        </div>
        <input type="range" class="rangeInput" id="scrollzonerange" min="200" max="600" value="300" step="10"
          oninput="changueAutoScrollZone()">
        <p class="configSubTitle" id="rangeParagraph">300px</p>
      </div>
      <div class="subdivisionTitle">
        Sounds 
        <div class="descriptions" data-key="sounds" onmousemove="showTooltip(this)" onmouseleave="hideTooltip(event)"> 
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
      <div class="sounds">
        <div class="sound">
          <button class="openManagerBtn" data-type="soundsRepository" data-variable="createTabSelectedSound" data-key="soundselect" onmousemove="showTooltip(this)" onmouseleave="hideTooltip(event)"><i class="fa-solid fa-folder"></i></button>
          <p class="soundTitle">Create Tab</p>
          <label class="toggle-box">
            <input class="checkbox" type="checkbox" data-variable="createTabSound" onchange="toggleSlider(this, soundChangeHandler)"
              checked>
            <div class="slider"></div>
          </label>
        </div>
        <div class="sound">
          <button class="openManagerBtn" data-type="themesRepository" data-key="soundselect" onmousemove="showTooltip(this)" onmouseleave="hideTooltip(event)"><i class="fa-solid fa-folder"></i></button>
          <p class="soundTitle">Close Tab</p>
          <label class="toggle-box">
            <input class="checkbox" type="checkbox" data-variable="closeTabSound" onchange="toggleSlider(this, soundChangeHandler)"
              checked>
            <div class="slider"></div>
          </label>
        </div>
        <div class="sound">
          <button class="openManagerBtn" data-type="soundsRepository" data-key="soundselect" onmousemove="showTooltip(this)" onmouseleave="hideTooltip(event)"><i class="fa-solid fa-folder"></i></button>
          <p class="soundTitle">Drag Tab</p>
          <label class="toggle-box">
            <input class="checkbox" type="checkbox" data-variable="dragTabSound" onchange="toggleSlider(this, soundChangeHandler)"
              checked>
            <div class="slider"></div>
          </label>
        </div>
        <div class="sound">
          <button class="openManagerBtn" data-type="soundsRepository"  data-key="soundselect" onmousemove="showTooltip(this)" onmouseleave="hideTooltip(event)"><i class="fa-solid fa-folder"></i></button>
          <p class="soundTitle">Drop Tab</p>
          <label class="toggle-box">
            <input class="checkbox" type="checkbox" data-variable="dropTabSound" onchange="toggleSlider(this, soundChangeHandler)"
              checked>
            <div class="slider"></div>
          </label>
        </div>
        <div class="sound">
          <button class="openManagerBtn" data-type="soundsRepository"  data-key="soundselect" onmousemove="showTooltip(this)" onmouseleave="hideTooltip(event)"><i class="fa-solid fa-folder"></i></button>
          <p class="soundTitle">Send Message</p>
          <label class="toggle-box">
            <input class="checkbox" type="checkbox" data-variable="sendMessageSound" onchange="toggleSlider(this, soundChangeHandler)"
              checked>
            <div class="slider"></div>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="terminalSplitPreview" id="splitPreview">
    <div class="split" id="right">
      <i class="fa-solid fa-square-plus"></i>
    </div>
    <div class="split" id="left">
      <i class="fa-solid fa-square-plus"></i>
    </div>
  </div>

  <div class="frame">
    <div id="draggable-area">
      <p class="windowTitle">KAT</p>
    </div>
    <div class="control_buttons">
      <div class="control-button devtools-button" id="configButton"><i class="fa-solid fa-gear"></i></div>
      <div class="control-button minimize-button" id="minimizeButton">
        <i class="fa-solid fa-minus"></i>
      </div>
      <div class="control-button resize-button" id="resizeButton"><i class="fa-regular fa-window-restore"></i></div>
      <div class="control-button close-button" id="closeButton">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
  </div>

  <div class="container" id="mainContainer">
    <div class="chatContainer">
      <div class="tab_nav">
        <img id="transparentCursor"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/w8AAwAB/EX+uOIAAAAASUVORK5CYII="
          style="display: none;">
        <div class="tabs" oncontextmenu="tabsContextMenu(1,event)" id="tabs-terminal-1">
          <div class="tab actived" style="opacity: 1;" onclick="changeCurrentTabTo(1,1)" id="tab1">
            <p>Main</p>
          </div>
        </div>
        <button class="createtab" id="createtab" onclick="createTab(1)">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class="chat activedterminal" id="terminal-1">

      </div>

      <div class="chatControls" onclick="changeCurrentTabTo(1, terminalsdict[1].currentTabInTerminal)">
        <div class="inputContainer">
          <input class="chatInput" id="chatInput-terminal-1" type="text" placeholder=">_">
        </div>
        <button class="sendButton" onclick="sendMessageFromChatField(1)" id="sendButton"><i
            class="fa-solid fa-chevron-right"></i></button>
      </div>
    </div>

    <!-- <button class="collapseModules collapsed" id="collapseModules" onclick="collapseModulesTab()"><i
        class="fa-solid fa-chevron-left"></i></button>
    <div class="modules_tab tabcollapsed" id="modules_tab">

      <p class="modulesTitle">Modules</p>
    </div> -->
</body>
<script src="js/global.js"></script>
<script src="js/filemanager.js"></script>
<script src="js/config.js"></script>
<script src="js/controls.js"></script>
<script src="js/split.js"></script>
<script src="js/tabs.js"></script>
<script src="js/terminal.js"></script>
<script src="js/contextmenu.js"></script>
<script src="js/modules.js"></script>
<script src="js/shorcuts.js"></script>

</html>