@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::selection {
  background-color: #fff;
  color: #000;
}

body {
  background-color: var(--background);
  overflow: hidden;
  position: relative;
}

.tab_nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--font-color);
  margin-bottom: 6px;
  height: 7%;
  width: 100%;
}

.tab {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-right: 15px;
  width: -webkit-fill-available;
  height: 10%;
  border-radius: 6px;
  padding: 5px;
  text-align: left;
  font-size: 1.5vw;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: var(--font-color);
  outline: none;
  z-index: 30;
  background-color: transparent;
  border: 1px var(--border-colors) solid;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
  transition: background-color .1s ease-in-out, border .1s ease-in-out, opacity .15s ease-in-out, width .2s ease-in-out;
}

.tabs {
  padding: 10px;
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.createtab {
  border: none;
  outline: none;
  border-radius: 8px;
  height: 75%;
  padding: 0 0.8rem 0 0.8rem;
  background-color: var(--main-color);
  border: 1px transparent solid;
  color: var(--font-color);
  box-sizing: border-box;
  cursor: pointer;
  transition: border .2s ease-in-out, background-color .2s ease-in-out;
}

.createtab:hover {
  background-color: var(--background);
  border: 1px var(--border-colors) solid;
}

.createtab:active {
  background-color: var(--border-colors);
}


.dragging{
  animation: tabSwing 0.5s ease-in-out infinite alternate;
  background-color: var(--third-color) !important;
  z-index: 100;
}



@keyframes tabSwing {
  0% {
      transform: rotateZ(3deg);
  }
  100% {
      transform: rotateZ(-3deg);
  }
}

.frame {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  border-bottom: 0.5px #242424 solid;
  background-color: var(--main-color);
  z-index: 1000;
}

#draggable-area {
  background-color: var(--main-color);
  -webkit-app-region: drag;
  width: 100%;
  z-index: 20;
}

.closetab {
  text-align: right;
  border: none;
  color: var(--font-color);
  font-size: 1.2vw;
  background-color: transparent;
  align-self: flex-end;
  border-radius: 5px;
  padding: .3rem;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.closetab:hover {
  background-color: #363636b7;
}

.actived {
  background-color: var(--main-color);
  border: 1px transparent solid;
}

.closed {
  opacity: 0;
}

/* Estilos de los botones de control */
.control_buttons {
  height: 7%;
  display: flex;
  background-color: var(--main-color);
  justify-content: flex-end;
  flex-direction: row;
  width: 200px;
  top: 0;
  right: 0;
  -webkit-app-region: no-drag;
  text-align: center;
  z-index: 5;
}

.control-button {
  color: var(--font-color);
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 5px;
  width: 27px;
  margin: 6px;
  height: 27px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color .2s, color .2s;
}

.close-button {
  background-color: var(--disabled-btn);
}

.close-button:hover {
  background-color: var(--close-btn-color);
}

.minimize-button {
  background-color: var(--disabled-btn);
}

.minimize-button:hover {
  background-color: var(--minimize-btn-color);
}

.resize-button {
  background-color: var(--disabled-btn);
}

.resize-button:hover {
  background-color: var(--resize-btn-color);
}

.devtools-button {
  background-color: var(--disabled-btn);
}

.devtools-button:hover {
  background-color: var(--dev-btn-color);
}

/* Contenedor principal y módulos */
.container {
  display: flex;
  overflow-x: auto;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
}

/* Scroll personalizado */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.tabs::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--track-color);
  border-radius: 6px;
}

.windowTitle {
  display: inline-block;
  margin: 10px;
  color: var(--font-color, #fff);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.version{
  display: inline-block;
  margin: 2px;
  color: var(--font-color, #fff);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.chatControls {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.sendButton {
  outline: none;
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--third-color);
  color: var(--font-color);
  cursor: pointer;
  transition: color .2s ease-in-out, background-color .2s ease-in;
}

.sendButton:hover {
  background-color: var(--main-color);
  border: 1px var(--border-colors) solid;
}

.chatInput {
  outline: none;
  border: none;
  background-color: var(--main-color);
  width: 100%;
  height: 50px;
  color: var(--font-color);
  border-radius: 100px;
  margin-top: 20px;
  padding-left: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.inputContainer {
  width: 100%;
}

.placeholderIcon {
  position: absolute;
  transform: translate(23px, 38px);
  color: var(--border-colors);
  opacity: 0;
}


.empty {
  opacity: 1;
}

.loadingPage{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background-color: #131313;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingPage > p{
  font-size: 30vh;
  font-weight: 800;
  text-align: center;
  font-family: 'Inter', Arial;
  color: #fff
}