:root {
  --accentuation-color:#51a4f8;


  --background: #141414;
  --main-color: #0f0e0e;
  --card-border: #242424;
  --alpha-color: #0f0e0e9d;
  --selection-background: #fff;
  --selection-font: #000;
  --border-colors: #777;
  --font-color: #fff;
  --track-color: #2b2b2b;
  --info-color: #51a4f8;
  --error-color: #fa4d4d;
  --warning-color: #fac636;
  --context-color: #1b1b1b;

  --minimize-btn-color: #ffbd2e;
  --close-btn-color: #ff5f56;
  --resize-btn-color: #05b7e4;
  --dev-btn-color: #fff;
}

body{
  background-image: none;
}