:root {
    --accentuation-color:#e329fc;
  
  
    --background: #0f0e0e;
    --main-color: #1D0739;
    --card-border: #242424;
    --alpha-color: #0000009d;
    --selection-background: #201f1f;
    --selection-font: #000;
    --border-colors: #777;
    --font-color: #c8acfc;
    --track-color: #2b2b2b;
    --info-color: #910aac3d;
    --error-color: #2e1212;
    --warning-color: #070605;
    --context-color: #1b1b1b;
  
    --minimize-btn-color: #4b3b1b;
    --close-btn-color: #ff5f56;
    --resize-btn-color: #05b7e4;
    --dev-btn-color: #fff;
  }

.chat{
    background-image: url(1263418764599365653.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.toggle-box{
    border-radius: 0px;
}