:root {
    --accentuation-color:#e329fc;
  
  
    --background: #120424;
    --main-color: #1D0739;
    --third-color: #2c0c57;
    --card-border: #242424;
    --alpha-color: #3c0c7c69;
    --selection-background: #201f1f;
    --selection-font: #000;
    --border-colors: #777;
    --font-color: #c8acfc;
    --terminal-font-color: #fff;
    --track-color: #39005f;
    --message-user-color: #141414bd;
    --message-info-color: #910aac3d;
    --message-error-color: #2e12129d;
    --message-warning-color: #cc6d0d8d;
  
    --disabled-btn: #472377;
    --minimize-btn-color: #855392;
    --close-btn-color: #855392;
    --resize-btn-color: #855392;
    --dev-btn-color: #855392;
  }
  /* #c8acfc */

.chat{
    background-image: url(1263418764599365653.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.toggle-box{
    border-radius: 5px;
}

.toggle-box .slider{
    border-radius: 5px;
}